<!doctype html>
<html lang="en">

<head>
    <title>Troll-Bokk App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-default fixed-top" id="mainnavbar">
        <a class="navbar-brand" href="#">TROLL-BOKK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarlinks"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <i class="fa fa-align-justify" id="nav"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarlinks">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item-active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <% if(!currentUser){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign Up</a>
                </li>
                <% } else {%>
                <li class="nav-item ">
                    <img src="<%=currentUser.avatar%>"  class="nav-link avatar pic">
                </li>
                <li class="nav-item ">
                    <a class="nav-link name" href="/campgrounds/user/<%=currentUser.id%>"><%=currentUser.username%></a>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container" id="alert">
        <%if (error.length){ %>
        <div class="alert alert-danger" role="alert">
            <%=error %>
        </div>
        <% } if(success.length) { %>
        <div class="alert alert-success" role="alert">
            <%=success %>
        </div>
        <% }%>
       

    </div>