<%- include("../partials/header") %>
<div class="container">
    <div class="card" style="width:400px;margin: 0 auto;">
            <img class="card-img-top " src="<%= user.avatar%>" alt="Profile image">
            <div class="card-body">
                <h4 class="card-title"><%=user.firstname + " " + user.lastname%></h4>
                <a href="#" class="card-text"><%=user.email%>.</a>
            </div>
        </div>
        <!-- <h1><%=user.username%>'s Posts</h1>
        <%camp.forEach(ele=>{ %>
        <a href="/campgrounds/<%=ele.id%>">
            <h3><%=ele.desc%></h3>
        </a>
        <%})%> -->
    </div>

<%- include("../partials/footer") %>