<%- include("../partials/header")  %>
<div class="container-fluid">
    <a href="/campgrounds"><i class='fas fa-arrow-left' id="back"></i></a>
</div>
<div class="container">
    <div class="row mt-3">
        <div class="col-md-9 mt-2">
            <img src="<%= campGround.image %>" class="img-fluid img-thumbnail">
            <div class="my-3">
                <% if(currentUser && campGround.author.id.equals(currentUser.id )) {%>
                <a class="btn  text-capitalize btn-sm" href="/campgrounds/<%=campGround._id%>/edit" id="edit"><i
                        class='fas fa-pen-fancy'></i></a>
                <form action="/campgrounds/<%=campGround._id%>?_method=DELETE" method="POST" class="delete-form">
                    <a class="btn"><i class='fas fa-trash' style="color: red;margin-right: 4px;"></i>Delete</a>
                </form>
                <% } %>
                <h4 class="caption"><a href="#"><%= campGround.name %></a></h4>
                <p><%= campGround.desc %></p>
                <p><em>Created By -<%= campGround.author.username%></em></p>

                <p class="pb-5"><a href="/campgrounds/<%=campGround._id%>/comment/new"
                        class="btn btn-success float-right">Comment</a></p>
                <div class="row">
                    <%  campGround.comments.forEach(element => { %>
                    <div class="col-md-12 mt-3">
                        <div>
                            <strong><%=element.author.username.toUpperCase() %></strong>
                        </div>
                        <span class="float-right"> 3 days ago</span>
                        <%= element.text%>
                        <% if(currentUser && element.author.id.equals(currentUser.id)){%>
                        <form action="/campgrounds/<%=campGround._id%>/comment/<%=element._id%>?_method=DELETE"
                            method="POST" class="delete-form float-right ml-2">
                            <a class="btn btn-sm float-right"><i class='fas fa-trash'
                                    style="color: red;font-size:1rem;"></i>Delete</a>
                        </form>
                        <a class="btn btn-sm float-right"
                            href="/campgrounds/<%=campGround._id%>/comment/<%=element._id%>/edit"
                            style="color: inherit;"><i class='fas fa-pen-fancy'
                                style="font-size: 1rem;text-decoration: none;"></i>
                        </a>
                        <% } %>
                    </div>
                    <% });%>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer")  %>